@{
    ViewBag.Title = "Find Account";
    ViewBag.isSideBar = "true";
}

<!-- Dashboard -->
<div id="dashboard">

    <!-- Navigation
    ================================================== -->
    <!-- Responsive Navigation Trigger -->
    @RenderPage("~/Views/Shared/sidebar.cshtml")
    <!-- Navigation / End -->
    <!-- Content
    ================================================== -->
    <div class="dashboard-content">

        <!-- Titlebar -->
        <div id="titlebar">
            <div class="row">
                <div class="col-md-12">
                    <h2>Find Account</h2>
                    <!-- Breadcrumbs -->
                    <nav id="breadcrumbs">
                        <ul>
                            <li><a href="#">Dashboard</a></li>
                            <li>Find Account</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        <!-- Content -->
        <div class="row">
            @using (Html.BeginForm("GetAccountAndUpgrade", "Account", FormMethod.Get))
            {
        <div class="inputSpace"></div>
        <div class="form-group input-group input-group-lg">
            <div class="input-group-prepend"><span class="input-group-text" id="inputLabel"><b>Enter UserName/Email</b></span></div>
            <input type="text" name="email" class="form-control" placeholder="username/email" aria-label="Large" aria-describedby="inputGroup-sizing-sm" id="latlng" required>
        </div>
        <div class="inputSpace"></div>
                <button class="btn-my first">Get Record</button>
              }
        </div>  
    </div>
    <!-- Content / End -->
</div>
<!-- Dashboard / End -->
</div>
</body>

<!-- Mirrored from www.vasterad.com/themes/listeo2/dashboard.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 06 Mar 2019 16:11:08 GMT -->
</html>