
@{
    ViewBag.Title = "Temp";
}

<h2>Temp</h2>

<script type="text/javascript">
    function openInNewTab() {
        if (navigator.userAgent.match(/android/i)) {
            
            
            window.open("https://maps.google.com/maps?daddr=24.8607,67.0011&amp;ll=");
            
        }
        else {
            alert("com");
        }
    }

</script>
<button onclick="openInNewTab()"> navigate  </button>

